.card > * {
    font-family: "Gayathri", cursive !important;
}

.title {
    font-size: 55px;
    padding: 30px;
    font-weight: bold;
}
.subText {
    font-size: 40px;
    padding: 10px;
    padding-left: 30px;
}


@media only screen and (max-width: 600px) {
    .title {
      font-size: 40px;
    }
    .subText {
        font-size: 25px;
    }
  }
@media only screen and (max-width: 400px) {
    .title {
      font-size: 30px;
      padding: 15px;
    }
    .subText {
        font-size: 20px;
        padding: 15px;
    }
  }